@import "vars.less";

.HardwareAccelerate() {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
}

.smooth() {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transform: translate3d(0, 0, 0);
}

.FullScreen() {
  position: absolute;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  // .smooth();
}

//endregion

.DropShadowInner() {
  box-shadow: inset 0 0 10px @clrBlackAlpha1;
}

