@import "vars.less";
@import "mixins.less";

.slide {
  .FullScreen( true, true );
  .TransAllCubic( @transDuration );
  border: 0.5px solid rgba( 255, 255, 255, 0.4 );
  opacity: 1;
  overflow: scroll;
  /* Hide scrollbars */
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  white-space: nowrap;
  .slide-element {
    display: inline-block;
    height: 100vh;
    width: calc( 100vw / var( --element-count ) );
    iframe {
      height: 100%;
      width: 100%;
      border: none;
      padding: 0;
      margin: 0;
    }
    &.text {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
      p {
        position: absolute;
        top: 50vh;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        margin: 0;
      }
    }
  }

  &.offstage-none {
    opacity: 0;
    top: 0;
    left: 0;
  }

  &.offstage-right {
    left : 100vw;
    top : 0;
  }

  &.offstage-left {
    left: -100vw;
    top: 0;
  }

  &.offstage-top {
    left: 0;
    top: -100vh;
  }

  &.offstage-bottom {
    left: 0;
    top: 100vh;
  }
}
